@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
}
.stats {
  display: flex;
  width: 900px;
  height: auto;
  background-color: hsl(244, 38%, 16%);
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border-radius: 20px;
}
.stats-details {
  width: 50%;
  padding: 40px;
}
.stats-img {
  position: relative;
  width: 50%;
}
.stats-image {
  width: 100%;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
}
.overlay {
  background-color: hsl(277, 64%, 61%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.5;
  border-radius: 0px 20px 20px 0px;
}
.stats-title {
  font-family: "Lexend Deca";
  margin-bottom: 30px;
  color: hsl(0, 0%, 100%);
}
.stats-title span {
  color: hsl(277, 64%, 61%);
}
.stats-description {
  font-family: "Lexend Deca";
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 80px;
}
.stats-numbers {
  display: flex;
  justify-content: space-between;
}
.stats-numbers p {
  font-size: 25px;
  font-weight: bold;
}
.stats-numbers span {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  color: hsla(0, 1%, 63%, 0.75);
  font-family: "Inter";
}

@media screen and (max-width: 600px) {
  .stats {
    display: block;
    width: 400px;
    /* height: auto; */
    background-color: hsl(244, 38%, 16%);
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    position: relative;
  }
  .stats-img {
    width: 100%;
    top: 0;
  }
  .stats-image {
    border-radius: 20px 20px 0px 0px;
  }
  .overlay {
    border-radius: 20px 20px 0px 0px;
    height: 99%;
  }
  .stats-details {
    width: 100%;
    padding: 40px;
    position: absolute;
    top: 100%;
    background-color: hsl(244, 38%, 16%);
    border-radius: 0px 0px 20px 20px;
    text-align: center;
  }
  .stats-description {
    margin-bottom: 50px;
  }
  .stats-numbers {
    display: block;
  }
  .stats-numbers p {
    margin-bottom: 40px;
  }
  .stats-numbers p:last-child {
    margin-bottom: 10px;
  }
}
